<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>設定温度上下限UI制限</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/vendor/semantic.min.css"/>
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <script src="static/vendor/jquery-3.3.1.min.js"></script>
    <script src="static/vendor/semantic.min.js"></script>
    <script src="static/vendor/csv.js"></script>
    <script src="static/js/setTempUILimited.js"></script>
    <script src="static/js/control.js"></script>
    <script src="static/js/model.js"></script>
    <script src="static/vendor/angular.min.js"></script>
</head>
<body>

<!-- 標題欄 -->
<div class="ui menu">
    <div class="ui container">
        <a class="header item">
            <img class="logo" src="static/images/airstage.png">

        </a>
        <div class="header item borderless">
            <h1 class="ui header">
                設定温度上下限UI制限
            </h1>
        </div>
    </div>
</div>

<!-- 温度上下限領域 -->
<div ng-app="myApp" class="ui main container">
    <div class="ui grid">
        <div class="four wide columnl">
            <div class="ui divided items center aligned">
                <div class="item">
                    <div class="ui selection dropdown" id="auto">
                        <input name="Auto" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Auto</div>
                        <div class="menu"></div>
                    </div>
                    <div class="ui left pointing red basic label"
                         id="funLabAuto">
                        機能無し
                    </div>
                </div>
                <div class="item">
                    <div class="ui selection dropdown" id="cool">
                        <input name="Cool" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Cool</div>
                        <div class="menu"></div>
                    </div>
                    <div class="ui left pointing red basic label"
                         id="funLabCool">
                        機能無し
                    </div>
                </div>
                <div class="item">
                    <div class="ui selection dropdown" id="heat">
                        <input name="Heat" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Heat</div>
                        <div class="menu"></div>
                    </div>
                    <div class="ui left pointing red basic label"
                         id="funLabHeat">
                        機能無し
                    </div>
                </div>
                <div class="item">
                    <div class="ui selection dropdown" id="cautocool">
                        <input name="C.Auto.Cool" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">C.Auto.Cool</div>
                        <div class="menu"></div>
                    </div>
                    <div class="ui left pointing red basic label"
                         id="funLabCCool">
                        機能無し
                    </div>
                </div>
                <div class="item">
                    <div class="ui selection dropdown" id="cautoheat">
                        <input name="C.Auto.Cool" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">C.Auto.Heat</div>
                        <div class="menu"></div>
                    </div>
                    <div class="ui left pointing red basic label"
                         id="funLabCHeat">
                        機能無し
                    </div>
                </div>
            </div>
        </div>
        <!-- 詳細領域 -->
        <div class="sixteen wide column">
            <h4 class="ui horizontal divider header">
                <i class="tag icon"></i>
                詳細
            </h4>
            <p>試験データは下記の通りです。</p>
            <h4 class="ui horizontal divider header">
                <i class="bar table icon"></i>
                静的情報
            </h4>
            <table class="ui celled structured table" ng-controller="stsTblCtl">
                <thead>
                <tr>
                    <th class="center aligned" rowspan="3">RCG ID</th>
                    <th class="center aligned" colspan="4">機能情報</th>
                    <th class="center aligned" colspan="7">静的温度範囲</th>
                </tr>
                <tr>
                    <th rowspan="2" class="center aligned">Auto</th>
                    <th rowspan="2" class="center aligned">C.Auto</th>
                    <th rowspan="2" class="center aligned">Cool</th>
                    <th rowspan="2" class="center aligned">Heat</th>
                    <th class="center aligned" colspan="2">Auto</th>
                    <th class="center aligned" colspan="2">Cool</th>
                    <th class="center aligned" colspan="2">Heat</th>
                    <th rowspan="2" class="center aligned">Dead Band</th>
                </tr>
                <tr>
                    <th class="center aligned">下限</th>
                    <th class="center aligned">上限</th>
                    <th class="center aligned">下限</th>
                    <th class="center aligned">上限</th>
                    <th class="center aligned">下限</th>
                    <th class="center aligned">上限</th>
                </tr>
                </thead>
                <tbody>
                <!-- AngularJS部品：動的表を作成 -->
                <tr ng-repeat="row in tblDataR03 track by $index">
                    <td class="center aligned">{{row.rcgID}}</td>
                    <td class="center aligned">
                        <div ng-if="row.hasAuto==true"><i
                                class="large green checkmark icon"></i></div>
                        <div ng-if="row.hasAuto==false"><i
                                class="large red minus icon"></i></div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.hasCAuto==true"><i
                                class="large green checkmark icon"></i></div>
                        <div ng-if="row.hasCAuto==false"><i
                                class="large red minus icon"></i></div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.hasCool==true"><i
                                class="large green checkmark icon"></i></div>
                        <div ng-if="row.hasCool==false"><i
                                class="large red minus icon"></i></div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.hasCool==true"><i
                                class="large green checkmark icon"></i></div>
                        <div ng-if="row.hasCool==false"><i
                                class="large red minus icon"></i></div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.lowLmtAuto==-1"><i
                                class="large red minus icon"></i></div>
                        <div ng-if="row.lowLmtAuto!=-1">{{row.lowLmtAuto}}</div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.upLmtAuto==-1"><i
                                class="large red minus icon"></i></div>
                        <div ng-if="row.lowLmtAuto!=-1">{{row.upLmtAuto}}</div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.lowLmtCool==-1"><i
                                class="large red minus icon"></i></div>
                        <div ng-if="row.lowLmtCool!=-1">{{row.lowLmtCool}}</div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.upLmtCool==-1"><i
                                class="large red minus icon"></i></div>
                        <div ng-if="row.upLmtCool!=-1">{{row.upLmtCool}}</div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.lowLmtHeat==-1"><i
                                class="large red minus icon"></i></div>
                        <div ng-if="row.lowLmtHeat!=-1">{{row.lowLmtHeat}}</div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.upLmtHeat==-1"><i
                                class="large red minus icon"></i></div>
                        <div ng-if="row.upLmtHeat!=-1">{{row.upLmtHeat}}</div>
                    </td>
                    <td class="center aligned">
                        <div ng-if="row.deadBand==-1"><i
                                class="large red minus icon"></i></div>
                        <div ng-if="row.deadBand!=-1">{{row.deadBand}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- アプリ -->
<script>
    //main();
    var myApp = angular.module('myApp', []);
    myApp.controller('stsTblCtl', function ($scope, $q, $http) {
        $q.all({  // ローカルファイル読み込む
            selR02: $http.get(`${dataRoot}R02monUnit.csv`),
            selR03: $http.get(`${dataRoot}R03infUnit.csv`),
            selR15: $http.get(`${dataRoot}R15tempSet.csv`)
        }).then(arr => {  // データ格納
            // csv -> Array
            selR02 = CSV.parse(arr.selR02.data);
            selR03 = CSV.parse(arr.selR03.data);
            selR15 = CSV.parse(arr.selR15.data);
            // 表データ作成
            $scope.tblDataR03 = [];
            selR03.forEach(value => {
                $scope.tblDataR03.push(new R03(value));

            });
        }).then(function () { // DropDownを作成
            setDropDown(calTmpLmt(selR02, selR03, selR15));
        });
    });
</script>
</body>
</html>
