/* You can add global styles to this file, and also import other style files */
.ui.menu .item img.logo {
    margin-right: 1.5em;
    margin-left: 1.5em;
    width: 15.5em;
}

.ui.items > .item {
    border: 1px solid rgba(255, 255, 255, 0.0);
    border-radius: 5px;
}

.ui.items > .item > .content > .header {
    padding-top: 1em;
}

.ui.label {
    line-height: initial;
    font-size: initial;
    display: none;
}

.ui.grid {
    padding-top: 1em;
}
